<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 5px;margin: 0;background-color: rgb(255, 242, 222);">
    <header>
        <h2 class="title" style="padding: 2px;">{{subject}}</h2>
    </header>
    <div class="content" style="width: 90%;margin-left: auto;margin-right: auto;">
        <h4>Chào {{email}}</h4>
            <h3>SpaCare xin thông báo: Lịch hẹn của khách hàng đã được chúng tôi duyệt. Khách hàng vui lòng theo dõi lịch hẹn và đến đúng giờ để chúng tôi có thể phục vụ chu đáo hơn</h3>
        <p>Thanks you</p>
    </div>
</body>

</html>
